.recipes {
    width:90%;
    margin: 11em auto 0 auto ;
}
.recipes h1{
    color:var(--white);
}
.recipes .ant-card-cover,
.recipes .ant-card-body {
    cursor: pointer;
}
.addrecipe-button {
    text-align: center;
    margin-top: 3em;
    padding-bottom: 5em;
}
.status-message {
    color:var(--white);
    font-size: 1.2em;
}