.serving-section {
    margin-top: 1em;
}
.recipes-title-section div.ant-card-meta-description {
    min-height: 55px !important;
    max-height: 55px !important;
    overflow : hidden;
}
.receipes-card .ant-card-body {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.receipes-card .edit {
    text-align: center;
    background-color: #8a2b06;
    color: var(--white);
    width: 40%;
    margin-top: 1em;
}

