.add-recipes {
    width:90%;
    margin: 10em auto 0 auto !important;
}
.add-recipes h2,.add-recipes h3{
    color:var(--white);
    text-align: center;
}
.add-recipes .ant-form-item-label > label {
    color: var(--white) !important;
}