.detailed-recipe {
    width:100%;
    margin: 5em auto 0 auto ;
    color:var(--white);
}
.detailed-recipe .ant-image {
    width:100% !important;
    height:372px !important;
}
.detailed-recipe .ant-image img{
    object-fit: cover !important;
}
.ant-image-img {
    height:400px !important ;
}
.detailed-recipe h4{
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 1em;

}
.detailed-recipe h3{
    color: var(--white) ;
    text-transform: capitalize;
    font-size: 1.5em;
    font-style: italic;
}
.detailed-recipe p{
    font-size: 1.2em;
}


.detailed-recipe .main-section {
    width: 80%;
    padding-top: 4em;
    margin:auto;
    
}

