
/* 4.Breakpoint to consider {
    xs: '480px',
    sm: '576px',
    md: '768px',
    lg: '992px',
    xl: '1200px',
    xxl: '1600px',
  }*/
   
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
    --black: #000;
    --bgColor:#3f3f3f;
    --white:#EFF0F6;
    --red:#8a2b06;

}
html {
    font-family: 'Noto Sans JP', sans-serif;
  }

body {
  margin: 0;
  background-color: var(--bgColor)
}

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:active,
.ant-btn-primary:focus {
    border-color: var(--red) !important;
    background-color: var(--red) !important;
    box-shadow: none;
    border-radius: 10px !important;
    color: var(--white) !important;
    height: 40px !important;
    padding: 6px 15px 6px 15px !important;
    text-shadow: none;
}
